{% extends 'base.html' %}

{% block title %}Article::Detail{% endblock title %}

{% block container %}


<h2>{{ article.title }}</h2>
<a href="{% url 'articles:like' article.pk %}">
{% if user in article.liked_users.all %}
<i class="fas fa-heart fa-3x" style='color : red'></i>
{% else %}
<i class="far fa-heart fa-3x" style='color : grey'></i>
{% endif %}
</a>
<span>{{ article.liked_users.all | length }} 명이 이 글을 좋아합니다.</span>
<p>{{ article.created_at }}</p>
<p class='text-secondary'> 작성자 : {{ article.user }}</p>
<hr>
<p>{{ article.content }}</p>

{% comment %} {% if user.is_authenticated %} {% endcomment %}
{% if article.user == request.user %}

  <a href="{% url 'articles:update' article.pk %}">[수정하기]</a>
  <form action="{% url 'articles:delete' article.pk %}" method = 'POST'>
    {% csrf_token %}
    <button type="submit">삭제하기</button>  
  </form>

{% endif %}

  {% if user.is_authenticated %}
  <form action="{% url 'articles:comments_create' article.pk %}" method='POST'>
    {% csrf_token %}
    {{ form.as_table }}   <button type="submit">댓글작성</button>
  </form>
  {% endif %}
<hr>
  <ul>
{% for comment in comments %}
  <li>
  {% if comment.user == request.user  %}
    <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST"> 
      {% csrf_token %}
      
    <span>작성자 : {{ comment.user }} . 작성일 : {{ comment.created_at }}   </span><br>
    <span>내용 : {{ comment }}</span>
      <button type="submit" class='btn btn-danger'>댓글삭제</button>
    </form>
  {% else %}
    <span>작성자 : {{ comment.user }} . 작성일 : {{ comment.created_at }}   </span><br>
    <span>내용 : {{ comment }}</span>

  {% endif %}
  </li>
  <br>
  
{% endfor %}
  </ul>
{% endblock container %}